.btn-ahope {
	color: #fff;
	background-color: #F37023;
	border-color: #B04F17;
}
.btn-ahope:hover,
.btn-ahope:focus,
.btn-ahope.focus,
.btn-ahope:active,
.btn-ahope.active {
	color: #fff;
	background-color: #E56B22;
	border-color: #B04F17;
}


/** navigation bar **/
.navbar-brand-ahope:focus, .navbar-brand-ahope:hover {
	color: #F37023;
	background-color: transparent;
	text-decoration: none;
	font-size: 23px;
}

.navbar-brand-ahope {
	font-weight: bold;
	color: #F37023;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 20px;
	line-height: 20px;
}

.navbar-top-ahope {
	background-color: #000000 !important;
}
.navbar-top-ahope:hover, .navbar-top-ahope:focus  {
	background-color: #000000 !important;
	color: #70BDFF;
}
.sidebar {
	background-color: #f8f8f8;
}
.minus-circle-ahope {
	color: #F37023;
	size: 20px;
}

.navbar-siderbar-ahope {
	
}
.navbar-siderbar-ahope:focus, a .navbar-siderbar-ahope:hover  {
	
}

/** pagination **/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #F37023;
  border-color: #F37023;
}


/** detail view **/
.page-header-ahope {
	margin-bottom: 10px;
}
.page-header-desc-ahope {
	margin: 0px 0px 40px;
	border-bottom: 0px;
}

.btn-left {
	float: left;
	text-align: left;
}
.btn-right {
	text-align: right;
}

.btn-center {
	text-align: center;
}

.input-ahope-wd-sm {
	width: 110px !important;
}

.inline-ahope {
	display: inline;
}

.search-cm-ahope {
	margin-right: 20px;
}

.search-btn-ahope {
	margin-bottom: 0px;
	text-align: right;
}

.cal-btn-ahope {
	color:gray;
}

.table-link-ahope tbody tr:hover,
.table-link-ahope tbody tr:focus,
.table-link-ahope tbody tr:active{
	background-color: #e7e7e7;
	cursor: pointer;
}

.detail-content-ahope{
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}

.ui-datepicker-trigger{
	border:none;
	background:none;
}

/** ahope modal alert **/
.alert-ahope {
	top:10%;
}
.alert-header-ahope {
	font-size:20px;
	font-weight: bold;
	text-align:center;
	background-color: #F37023; 
	color: #fff;
}
.alert-body-ahope {
	text-align:center;
}

.ui-state-hover-ahope {
	opacity: 1 !important;
	border: 1px solid #0073ea !important;
  	background: #0073ea url("../../resources/images/jquery-ui/ui-bg_highlight-soft_25_0073ea_1x100.png") 50% 50% repeat-x !important;
  	font-weight: bold !important;
  	color: #fff !important;
}